<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48791817032-hog06ob38jgftti19uglkrhm7uv8bqac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48791817032-hog06ob38jgftti19uglkrhm7uv8bqac</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>48791817032-cchv30mfspilvu171kqddgpcs28ukdk5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGkbHbQGOs3YnQBcTmiWtFzb1j2tI-RS4</string>
	<key>GCM_SENDER_ID</key>
	<string>48791817032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ebusiness.work</string>
	<key>PROJECT_ID</key>
	<string>eb-work</string>
	<key>STORAGE_BUCKET</key>
	<string>eb-work.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48791817032:ios:1a457948b1ba5ad6c8817d</string>
</dict>
</plist>